<style>
  body{
  margin: 0;
  font-family: georgia,sans-serif;
  }
  video { max-width: 95%; display: block; margin: 10px auto; }
  a {
    color:black;
    text-decoration-line: none;
    text-shadow: 2px 2px 2px gray;
    font-weight: bolder;
  }
  h1  {
    font-size: 45px;
    text-align: center;
    border-bottom:1px solid gray;
    margin: 0;
    padding: 20px;
    background-color:#dddddd
  }
  ul{
    border-right: 1px solid gray;
    width:120px;
    margin:0;
    padding:20px;
    background-color:#dddddd
  }
  #grid{
    display: grid;
    grid-template-columns: 150px 1fr;
  }
  #grid ol{
    padding-right: 40px;
  }
  #grid #article{
    padding-left: 40px;
  }
  @media(max-width:800px){
    #grid{
      display: block;
    }
    ol{
      border-right: none;
    }
    h1  {
      border-bottom:none;
    }
  }
  </style>
